/* ====================================================================
   Playercards used in Spieler.html
   ==================================================================== */

.player-card {
  text-align: center;
  width: 150px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.player-card img {
  width: 100%;
  max-height: 180px; /* oder passend für dein Layout */
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.player-card p {
  margin-top: 8px;
  font-weight: bold;
  color: var(--text);
}

.player-card.solo {
  width: 150px;
}

.player-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 3px var(--color-red-300), 0 0 12px var(--color-red-200);
}

/* ====================================================================
   Verhalten und Optik der Bottom Bar (Vereinslogo)
   &
   Verhalten und Optik der Buttons im Menü
   menu.html
   ==================================================================== */


/* Bottom Bar */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--footer-bg);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 2;
  box-sizing: border-box;
}

.bottom-bar img {
  height: 38px;
}

.menu-btn {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
}

  /* Menu two rows */

  .menu.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  padding: 1rem;
  background: var(--bg-dark);
  border-top: 1px solid var(--color-gray-600);
}

.menu-popup {
  position: fixed;
  background: var(--bg);
  bottom: 60px;
  right: 1rem; /* sorgt für Rechtsbündigkeit */
  padding: 0.4rem 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1rem;
  z-index: 999;
  row-gap: 0.6rem;
  column-gap: 1.6rem;
}

.menu-popup.active {
  display: grid;
}

.menu-popup .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text);
  padding: 0.3rem;
  border-radius: 6px;
  background: var(--bg);
  transition: background 0.2s ease;
}

.menu-item i {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.menu-item span {
  font-size: 0.8rem;
  text-align: center;
}

.menu-popup .menu-item i {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.menu-popup .menu-item:hover {
  background: var(--color-gray-600);
  color: var(--color-red-300);
}
