:root {
  --bg: var(--color-gray-700); /* zentrale Hintergrundfarbe */
  --table-bg: var(--color-gray-600);
  --table-header-bg: var(--color-gray-700);
  --border-color: var(--color-gray-500);
  --table-header-text: var(--color-red-200);
  --text: var(--color-white);   /* zentrale Textfarbe */
  --heading-primary: var(--color-red-200);
  --heading-secondary: var(--color-gray-400); /* not in use */
  --footer-bg: var(--color-red-500); /*footer background*/

  /* Grautöne */
  --color-gray-100: #f0f0f0; /* sehr hell */
  --color-gray-150: #eeeeee; /*prüfen ob es genutzt wird?*/
  --color-gray-200: #cccccc;
  --color-gray-300: #999999;
  --color-gray-400: #666666;
  --color-gray-500: #292929; /* Border color*/
  --color-gray-600: #1c1c1c; /* dein Standard-Background in Tabellen? */
  --color-gray-700: #111111; /* Main-Background - Table header? */
  
  /* Rottöne */
  --color-red-100: #ffb3b3; /* helles Rot */
  --color-red-200: #ff4c42; /* dein loser-Rot / Überschriften /text-red*/
  --color-red-300: #e74c3c; /* Header in Tables */
  --color-red-500: #d70000; /* dunkles Rot (optional) */
  --color-red-500: #b80000; /* dunkles Rot (optional) */

  /* Grüntöne */
  --color-green-100: #b6f2d4; /* sehr helles Grün */
  --color-green-200: #309f6a; /* dein winner-Grün */
  --color-green-300: #1b7f52; /* dunkleres Grün */

  /* Standardfarben */
  --color-white: #ffffff;
  --color-black: #000000;

/* Tabellengrößen */
   --width-table: 90%; /* Global Tabellenbreite*/
}