<section id="vereinsgeschichte">
  <h2>Vereinsgeschichte</h2>
  <p class="mb-4">
    <span class="text-primary font-semibold">Hinweis:</span><br>
    Die dargestellten Vereinsmitglieder zeigen die jeweiligen Oskarsieger des Jahres. Der Oskarsieger ist der Spieler, der beim traditionellen Oskardarten am Jahresende die meisten Spiele und Legs für sich entscheiden konnte.
  </p>
  <p-card>
    <p-timeline [value]="oskarsiegerTimeline" layout="vertical" align="alternate">
      <ng-template pTemplate="opposite" let-event>
        <span class="oskar-jahr">{{ event.label }}</span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <!-- Oskarsieger -->
        <ng-container *ngIf="event.type === 'oskarsieger' && event.player">
          <div class="timeline-card">
            <img [src]="'assets/players/' + event.player?.image" class="winner-avatar" alt="" />
            <div class="winner-info">
              <div class="winner-name-row">
                <span class="winner-name">{{ event.player.name }}</span>
                <span *ngIf="event.player.nickname" class="winner-nickname">
                  {{ event.player.nickname }}
                </span>
              </div>
              <div class="winner-season"><i class="pi pi-trophy"></i> {{ event.seasonLabel }}</div>
            </div>
          </div>
          <div *ngIf="event.text" class="timeline-geschichte mt-2">
            <div class="geschichte-title">{{ event.title }}</div>
            <div class="geschichte-text" [innerHTML]="event.text"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="event.type === 'oskarsieger' && !event.player">
          <i>Unbekannter Spieler (ID: {{ event.player_id }})</i>
        </ng-container>
        <!-- Vereinsgeschichte -->
        <ng-container *ngIf="event.type === 'geschichte'">
          <div class="timeline-geschichte">
            <div class="geschichte-title">{{ event.title }}</div>
            <div class="geschichte-text" [innerHTML]="event.text"></div>
          </div>
        </ng-container>
      </ng-template>
    </p-timeline>
  </p-card>
</section>

 <h2 id="gesamtwertungen">Gesamtwertungen</h2>
<div class="mt-5">
  <p-card>
    <p-table [value]="gesamtwertungen">
      <ng-template pTemplate="header">
        <tr>
          <th>Rekord</th>
          <th>Wert</th>
          <th>Name</th>
          <th>Datum</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rekord>
        <tr>
          <td>{{ rekord.was }}</td>
          <td>{{ rekord.count }}</td>
          <td>{{ rekord.wer }}</td>
          <td>{{ rekord.wann }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

 <h2 id="jahreswertungen">Jahreswertungen</h2>
<div class="mt-5">
  <p-card>
    <p-table [value]="jahreswertungen">
      <ng-template pTemplate="header">
        <tr>
          <th>Rekord</th>
          <th>Wert</th>
          <th>Name</th>
          <th>Datum</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rekord>
        <tr>
          <td>{{ rekord.was }}</td>
          <td>{{ rekord.count }}</td>
          <td>{{ rekord.wer }}</td>
          <td>{{ rekord.wann }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

 <h2 id="spieltagswertungen">Spieltagswertungen</h2>
<div class="mt-5">
  <p-card>
    <p-table [value]="spieltagswertungen">
      <ng-template pTemplate="header">
        <tr>
          <th>Rekord</th>
          <th>Wert</th>
          <th>Name</th>
          <th>Datum</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rekord>
        <tr>
          <td>{{ rekord.was }}</td>
          <td>{{ rekord.count }}</td>
          <td>{{ rekord.wer }}</td>
          <td>{{ rekord.wann }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

 <h2 id="matchwertungen">Matchwertungen [6]</h2>
<div class="mt-5">
  <p-card>
    <p-table [value]="matchwertungen">
      <ng-template pTemplate="header">
        <tr>
          <th>Rekord</th>
          <th>Wert</th>
          <th>Name</th>
          <th>Datum</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rekord>
        <tr>
          <td>{{ rekord.was }}</td>
          <td>{{ rekord.count }}</td>
          <td>{{ rekord.wer }}</td>
          <td>{{ rekord.wann }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<div class="mt-5">
  <p-card>
    <p-fieldset legend="Regel- und Wertungsänderungen" [toggleable]="true">
      <ol class="list-decimal pl-5">
        <li>erst ab 2001</li>
        <li>erst ab 2003</li>
        <li>ab 1994</li>
        <li>
          2010 geändert, Streichung DD, TD, ab 2013 auch Short Game und RB
        </li>
        <li>
          2017 geändert, 5 Spieler max. 40 Jahr / 14 Monat / Punkte Jahr max.
          140
        </li>
        <li>erst ab 2018</li>
        <li>
          2019 geändert, 5 Spieler max. 40 Jahr / 12 Monat / Punkte Jahr max.
          120
        </li>
        <li>erst 2020/21 aufgenommen</li>
      </ol>
    </p-fieldset>
  </p-card>
</div>
<div class="mt-5">
  <p>ab 01.01.1996 - aktueller Stand: 12.05.2024</p>
</div>
