
  <section class="prose">
  <h1>Impressum</h1>

  <p>
    Dartfreunde&nbsp;Borchen&nbsp;n.e.V.<br>
    Martin&nbsp;Budde<br>
    An&nbsp;der&nbsp;Schönen&nbsp;Aussicht&nbsp;31A<br>
    33098&nbsp;Paderborn
  </p>

  <p>
    Verantwortlich&nbsp;für&nbsp;den&nbsp;Inhalt&nbsp;nach&nbsp;§&nbsp;55&nbsp;Abs.&nbsp;2&nbsp;RStV:<br>
    Martin&nbsp;Budde
  </p>

  <p>
    E‑Mail: <a href="#" (click)="mailto($event)">E‑Mail schreiben</a><br>
    Webseite:&nbsp;https://&#8203;darts.mad1337&#8203;.com
  </p>
</section>