::ng-deep .p-card .p-card-body {
  padding: 0rem; /* kleiner Rand */
}

.text-primary {
  color: var(--primary-color); // Beispiel für Primary-Color (Grün), anpassbar
}

.card-value {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.69;
}