<h2 id="naechster-abend">Nächster Abend</h2>
<p-card class="grid gap-4 grid-cols-1 sm:grid-cols-1">
  <div class="card-content">
    <div class="card-info">
      <div class="label">Gastgeber</div>
      <div class="profile-row">
        <p-chip
          label="{{ gastgeber() }}"
          image="assets/frank.png"
          alt="Avatar image"
          class="profile-chip"
        />
      </div>
      <div class="label">Wann</div>
      <div class="date-time">{{ datum() }} um {{ zeit() }}</div>
      <div class="label">Modus</div>
      <div class="icons">
        <i class="pi pi-euro" [ngClass]="{ inactive: gelddarten() }"></i>
        <i
          class="pi pi-trophy ml-6"
          [ngClass]="{ inactive: oskardarten() }"
        ></i>
      </div>
    </div>
    <div class="card-bgimg">
      <img
        ngSrc="assets/location-frank.png"
        alt="Spielort"
        height="749"
        width="526"
      />
      <div class="gradient"></div>
    </div>
  </div>
</p-card>

<h2 id="highlights-letzter-spieltag">Highlights letzter Spieltag</h2>
<div class="grid gap-4 grid-cols-2 sm:grid-cols-3">
  <p-card
    *ngFor="let lastStat of lastStats()"
    [header]="lastStat.kategorie"
    [subheader]="lastStat.spieler.join(', ')"
  >
    <div class="stat-card-body">
      <span class="stat-card-value">{{ lastStat.wert }}</span>
    </div>
  </p-card>
</div>

<h2 id="naechster-oskarabend">Nächster Oskarabend</h2>
<div class="mb-4">
  Saison:
  <span class="text-primary-700">{{ season() }}</span>
  – Spieltag:
  <span class="text-primary-700">{{ matchday() }}</span>
</div>
<p-card>
  <p-table [value]="games() || []">
    <ng-template #header>
      <tr>
        <th>Schreiber</th>
        <th>Spieler 1</th>
        <th>Spieler 2</th>
      </tr>
    </ng-template>
    <ng-template #body let-game>
      <tr>
        <td class="writer">{{ game.writer }}</td>
        <td>{{ game.player1 }}</td>
        <td>{{ game.player2 }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
