
<section class="prose">
  <h1>Datenschutzerklärung</h1>

  <p>
    Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
    Ihre Daten werden vertraulich und entsprechend den gesetzlichen
    Datenschutzvorschriften sowie dieser Erklärung behandelt.
  </p>

  <h2>Erhebung und Speicherung personenbezogener Daten</h2>
  <p>
    Unsere Webseite dient ausschließlich der Bereitstellung von Informationen
    über unseren Verein. Wir erheben und speichern keine personenbezogenen
    Daten, sofern Sie uns nicht aktiv per E‑Mail kontaktieren.
  </p>

  <h2>Server-Log-Dateien</h2>
  <p>
    Der Provider der Seiten erhebt und speichert automatisch Informationen
    in sogenannten Server-Log-Dateien, die Ihr Browser automatisch übermittelt
    (z. B. Browsertyp, verwendetes Betriebssystem, Referrer URL, Uhrzeit der Serveranfrage).
    Diese Daten sind nicht bestimmten Personen zuordenbar.
  </p>

  <h2>Kontakt per E‑Mail</h2>
  <p>
    Wenn Sie uns per E‑Mail kontaktieren, werden Ihre Angaben inklusive der von Ihnen
    gemachten Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen
    gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
  </p>

  <h2>Ihre Rechte</h2>
  <p>
    Sie haben das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten,
    deren Herkunft und Empfänger sowie den Zweck der Datenverarbeitung und ein Recht auf
    Berichtigung, Einschränkung oder Löschung dieser Daten.
  </p>

  <h2>Verantwortlicher</h2>
  <p>
    Dartfreunde&nbsp;Borchen&nbsp;n.e.V.<br>
    Martin&nbsp;Budde<br>
    An&nbsp;der&nbsp;Schönen&nbsp;Aussicht&nbsp;31A<br>
    33098&nbsp;Paderborn<br>
    E‑Mail: <a href="#" (click)="mailto($event)">E‑Mail schreiben</a>
  </p>
</section>