  <h2 id="aktueller-tabellenstand">Aktueller Tabellenstand {{ aktuelleSaison }}</h2>
<p-card>
<div class="mt-8">

<div class="w-full h-[12rem] my-6">
  <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>
</div>

<p-table [value]="jahrestabelle" class="min-w-full text-center">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Punkte</th>
      <th>Trend</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-eintrag>
    <tr>
      <td>{{ eintrag.platz }}</td>
      <td>{{ eintrag.name }}</td>
      <td>{{ eintrag.punkte }}</td>
      <td>
        <!-- Pfeile wie gehabt -->
        <span *ngIf="eintrag.trend === 'up'" class="pi pi-arrow-up text-primary ml-1"></span>
        <span *ngIf="eintrag.trend === 'down'" class="pi pi-arrow-down text-secondary ml-1"></span>
        <span *ngIf="eintrag.trend === 'same'" class="pi pi-arrow-right text-gray-400 ml-1"></span>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
</p-card>

<h2 id="spieltagverlauf">Spieltagverlauf</h2>
<p-card>
  <h5>Spieltagsverlauf {{ aktuelleSaison }}</h5>
  <p-chart 
    type="line" 
    [data]="spieltagverlaufData" 
    [options]="formkurveOptions">
  </p-chart>
</p-card>

<h2 id="jahresvergleich">Jahresvergleich</h2>
<p-card>
<h5>Jahresvergleich Gesamtpunkte 2018 - Heute</h5>
<p-chart type="line" [data]="formkurveData" [options]="formkurveOptions"></p-chart>
</p-card>



<h2 id="oskarsieger">Oskarsieger</h2>
<p-card>
<p-timeline [value]="oskarsiegerTimeline" layout="vertical" align="alternate">
  <ng-template pTemplate="opposite" let-event>
    <span class="oskar-jahr">{{ event.label }}</span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <ng-container *ngIf="event.player">
      <div class="timeline-card">
      <img
        [src]="'assets/players/' + event.player?.image"
        class="winner-avatar"
        alt=""
      />
        <span class="winner-name">{{ event.player.name }}</span>
        <span *ngIf="event.player.nickname" class="winner-nickname">
          {{ event.player.nickname }}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="!event.player">
      <i>Unbekannter Spieler (ID: {{ event.player_id }})</i>
    </ng-container>
  </ng-template>
</p-timeline>
</p-card>

