<h2 id="naechster-abend">Nächster Abend</h2>
<div *ngIf="nextMatchdayService.loadNextMatchDay() as signal">
  <div *ngIf="signal() as nextMatchday">
    <div>Gastgeber: {{ nextMatchday.gastgeber }}</div>
    <div>Wann: {{ nextMatchday.datum }} um {{ nextMatchday.zeit }}</div>
    <div>Gelddarten: {{ nextMatchday.gelddarten }}</div>
    <div>Oskardarten: {{ nextMatchday.oskardarten }}</div>
  </div>
</div>

<h2 id="highlights-letzter-spieltag">Highlights letzter Spieltag</h2>
<div *ngIf="lastStatsService.loadLastStats() as signal">
  <div *ngIf="signal() as lastStats">
    <div *ngFor="let lastStat of lastStats">
      {{ lastStat.kategorie }}: {{ lastStat.spieler }} {{ lastStat.wert }}
    </div>
  </div>
</div>

<h2 id="naechster-oskarabend">Nächster Oskarabend</h2>
<div *ngIf="nextMatchdaysService.loadNextMatchDay(nextMatchday) as signal">
  <div *ngIf="signal() as nextMatchDay">
    <div>
      Saison: {{nextMatchDay.season}} Spieltag {{nextMatchDay.matchday}}
    </div>
    <div>
      Spiele:
      <div *ngFor="let game of nextMatchDay.games">
        <div>
          Schreiber: {{game.writer}}
        </div>
        <div>
          Spieler 1: {{game.player1}}
        </div>
        <div>
          Spieler 2: {{game.player2}}
        </div>
      </div>
    </div>
  </div>
</div>
