<h2 id="naechster-abend">Nächster Abend</h2>
<div *ngIf="nextMatchdayService.loadNextMatchDay() as signal">
  <div *ngIf="signal() as nextMatchday" class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
    <p-card header="Gastgeber">
      <span>{{ nextMatchday.gastgeber }}</span>
    </p-card>
    <p-card header="Wann">
      <span>{{ nextMatchday.datum }} um {{ nextMatchday.zeit }}</span>
    </p-card>
    <p-card header="Gelddarten">
      <i class="pi pi-trophy" [ngClass]="{'inactive': nextMatchday.gelddarten}"></i>
    </p-card>
    <p-card header="Oskardarten">
      <i class="pi pi-euro" [ngClass]="{'inactive': nextMatchday.oskardarten}"></i>
    </p-card>
  </div>
</div>

<h2 id="highlights-letzter-spieltag">Highlights letzter Spieltag</h2>
<div *ngIf="lastStatsService.loadLastStats() as signal">
  <div *ngIf="signal() as lastStats" class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
    <div *ngFor="let lastStat of lastStats">
      <p-card
        [header]="lastStat.kategorie"
        [subheader]="lastStat.spieler.join(', ')"
      >
        <span>{{ lastStat.wert }}</span>
      </p-card>
    </div>
  </div>
</div>

<h2 id="naechster-oskarabend">Nächster Oskarabend</h2>
<div *ngIf="nextMatchdaysService.loadNextMatchDay(nextMatchday) as signal">
  <div *ngIf="signal() as nextMatchDay">
    <div>
      Saison: {{ nextMatchDay.season }} Spieltag {{ nextMatchDay.matchday }}
    </div>
    <p-table [value]="nextMatchDay.games">
      <ng-template #header>
        <tr>
          <th>Schreiber</th>
          <th>Spieler 1</th>
          <th>Spieler 2</th>
        </tr>
      </ng-template>
      <ng-template #body let-game>
        <tr>
          <td>{{ game.writer }}</td>
          <td>{{ game.player1 }}</td>
          <td>{{ game.player2 }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
