<h2 id="naechster-abend">Nächster Abend</h2>
<div *ngIf="nextMatchdayService.loadNextMatchDay() as signal">
  <div *ngIf="signal() as nextMatchday" class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
    <p-card header="Gastgeber">
      <span>{{nextMatchday.gastgeber}}</span>
    </p-card>
    <p-card header="Wann">
      <span>{{ nextMatchday.datum }} um {{ nextMatchday.zeit }}</span>
    </p-card>
    <p-card header="Gelddarten">
      <i class="pi pi-trophy" [ngClass]="{'inactive': nextMatchday.gelddarten}"></i>
    </p-card>
    <p-card header="Oskardarten">
      <i class="pi pi-euro" [ngClass]="{'inactive': nextMatchday.oskardarten}"></i>
    </p-card>
  </div>
</div>

<h2 id="highlights-letzter-spieltag">Highlights letzter Spieltag</h2>
<div *ngIf="lastStatsService.loadLastStats() as signal">
  <div *ngIf="signal() as lastStats" class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
    <div *ngFor="let lastStat of lastStats">
      <p-card
        [header]="lastStat.kategorie"
        [subheader]="lastStat.spieler.join(', ')"
      >
        <span>{{ lastStat.wert }}</span>
      </p-card>
    </div>
  </div>
</div>

<h2 id="naechster-oskarabend">Nächster Oskarabend</h2>
<div *ngIf="nextMatchdaysService.loadNextMatchDay(nextMatchday) as signal">
  <div *ngIf="signal() as nextMatchDay">
    <div>
      Saison: {{ nextMatchDay.season }} Spieltag {{ nextMatchDay.matchday }}
    </div>
    <div>
      Spiele:
      <div *ngFor="let game of nextMatchDay.games">
        <div>Schreiber: {{ game.writer }}</div>
        <div>Spieler 1: {{ game.player1 }}</div>
        <div>Spieler 2: {{ game.player2 }}</div>
      </div>
    </div>
  </div>
</div>
