<main class="main">
  <div class="top-banner">Dartfreunde Borchen n.e.V.</div>
  <div class="header-bar">
    <p-menubar [model]="menubarItems">
      <ng-template #start>
        <img
          ngSrc="../assets/logo.inline.svg"
          alt="Logo"
          height="32"
          width="32"
        />
      </ng-template>
      <ng-template let-item>
        <a pRipple class="flex items-center p-menubar-item-link">
          <span>{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #end>
        <p-button icon="pi pi-palette"></p-button>
        <p-button icon="pi pi-bars"></p-button>
      </ng-template>
    </p-menubar>
  </div>

  <div class="content"></div>
</main>

<router-outlet />
