<main class="main">
  <div class="top-banner">Dartfreunde Borchen n.e.V.</div>
  <div class="header-bar">
    <p-menubar>
      <ng-template #start>
        <img
          ngSrc="../assets/logo.inline.svg"
          alt="Logo"
          height="32"
          width="32"
        />
      </ng-template>
      <ng-template let-item>
        <a pRipple class="flex items-center p-menubar-item-link">
          <span>{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #end>
        <div class="flex justify-end p-2 mb-4">
          <ul class="flex list-none m-0 p-0 gap-2 items-center">
            <theme-switcher/>
            <li>
              <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
              <p-button (click)="menu.toggle($event)" icon="pi pi-bars"/>
            </li>
          </ul>
        </div>
      </ng-template>
    </p-menubar>
  </div>

  <div class="content"></div>
</main>

<router-outlet/>
