<p id="naechster-abend" class="header-center-big-primary">Nächster Abend</p>
<div class="nextMatchday">
    <table class="standard-table">
        <thead>
        <tr>
            <th>Gastgeber</th>
            <th>Datum</th>
            <th>Uhrzeit</th>
             <th>Modus</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="gastgeber center">undefined</td>
            <td class="datum center">undefined</td>
            <td class="zeit center">undefined</td>
                        <td class="center">
                <i class="oskardarten fas fa-trophy" title="Oskarabend"></i>
                                <i class="gelddarten fas fa-coins" title="Gelddarten"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr class="section-divider">
<h2 id="letzter-spieltag" class="header-center-big-primary">Highlights letzter Spieltag</h2>
<table class="standard-table" id="lastStatsTable">
    <thead>
    <tr>
        <th>Kategorie</th>
        <th>Wert</th>
        <th>Spieler</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
</script>
<hr class="section-divider">
<h2 id="oskarabend" class="header-center-big-primary">Nächster Oskarabend – Spieltag <span id="matchday-title"></span></h2>

<table class="standard-table" id="oskar-tabelle">
    <thead>
    <tr>
        <th>Schreiber</th>
        <th>Spieler 1</th>
        <th>Spieler 2</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    loadNextMatchday();
    loadNextMatchdays(5);
    loadLastStats();
</script>
