<p class="header-center-big-primary">Nächster Abend</p>
<table class="standard-table">
    <thead>
    <tr>
        <th>Gastgeber</th>
        <th>Datum</th>
        <th>Uhrzeit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="center">Franz-Josef</td>
        <td class="center">Freitag, 18. Juli 2025</td>
        <td class="center">19:30 Uhr</td>
    </tr>
    </tbody>
</table>

<table class="standard-table">
    <tbody>
    <tr>
        <td>
            <div class="symbol-inline">
                <span class="inactive">Oskardarten</span>
                <i class="fas fa-trophy inactive" title="Oskarabend"></i>
            </div>
        </td>
        <td>
            <div class="symbol-inline">
                <span class="inactive?">Gelddarten</span>
                <i class="fas fa-coins active" title="Gelddarten"></i>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<hr class="section-divider">
<h2 class="header-center-big-primary">Highlights letzter Spieltag</h2>
<table class="standard-table" id="lastStatsTable">
    <thead>
    <tr>
        <th>Kategorie</th>
        <th>Wert</th>
        <th>Spieler</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
</script>
<hr class="section-divider">
<h2 class="header-center-big-primary">Nächster Oskarabend – Spieltag <span id="matchday-title"></span></h2>

<table class="standard-table" id="oskar-tabelle">
    <thead>
    <tr>
        <th>Schreiber</th>
        <th>Spieler 1</th>
        <th>Spieler 2</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    loadNextMatchdays(5);
    loadLastStats();
</script>
