<div class="subline-center-gray">ab 01.01.1996</div>

<p class="header-center-big-primary">Gesamtwertungen</p>
<table class="standard-table">
    <tr>
        <th>Rekord</th>
        <th>Wert</th>
        <th>Name</th>
        <th>Datum</th>
    </tr>
    <tr>
        <td>Jahres-Oscar Gesamt</td>
        <td class="center">10</td>
        <td class="center">Nico</td>
        <td class="center">2007–2016</td>
    </tr>
    <tr>
        <td>Jahres-Oscar Gewinn in Folge</td>
        <td class="center">10</td>
        <td class="center">Nico</td>
        <td class="center">2007–2016</td>
    </tr>
    <tr>
        <td>Monats-Oscar Gesamt</td>
        <td class="center">81</td>
        <td class="center">Y</td>
        <td class="center">1996–2023/24</td>
    </tr>
    <tr>
        <td>Monats-Oscar Gewinn in Folge</td>
        <td class="center">8</td>
        <td class="center">mad</td>
        <td class="center">2019–2024</td>
    </tr>
</table>
<hr class="section-divider"/>
<p class="header-center-big-primary">Jahreswertungen</p>
<table class="standard-table">
    <tr>
        <th>Rekord</th>
        <th>Wert</th>
        <th>Name</th>
        <th>Datum</th>
    </tr>
    <tr>
        <td>Monats-Oscar Gesamt in einem Jahr</td>
        <td class="center">9</td>
        <td class="center">Y, mad</td>
        <td class="center">2003, 2020/21, 2023/24</td>
    </tr>
    <tr>
        <td>High Check</td>
        <td class="center">156</td>
        <td class="center">Nico, Uwe</td>
        <td class="center">2016, 2020/21</td>
    </tr>
    <tr>
        <td>High Check geworfen (+100)</td>
        <td class="center">3</td>
        <td class="center">Nico, mad</td>
        <td class="center">2008, 2013 / 2019, 2020/21</td>
    </tr>
    <tr>
        <td>Geworfene 180er</td>
        <td class="center">5</td>
        <td class="center">Y, Nico</td>
        <td class="center">2006, 2013</td>
    </tr>
    <tr>
        <td>Geworfene 180er, Gesamt</td>
        <td class="center">8</td>
        <td class="center">Team</td>
        <td class="center">2008, 2013</td>
    </tr>
    <tr>
        <td>Geworfene 140er</td>
        <td class="center">30</td>
        <td class="center">mad</td>
        <td class="center">2021/2022</td>
    </tr>
    <tr>
        <td>Geworfene 140er, Gesamt</td>
        <td class="center">64</td>
        <td class="center">Team</td>
        <td class="center">2009, 2012</td>
    </tr>
    <tr>
        <td>Geworfene TONs</td>
        <td class="center">149</td>
        <td class="center">mad</td>
        <td class="center">2021/2022</td>
    </tr>
    <tr>
        <td>Punkte Jahreswertung</td>
        <td class="center">119 / 120</td>
        <td class="center">mad</td>
        <td class="center">2020/21</td>
    </tr>
    <tr>
        <td>Spiele gewonnen</td>
        <td class="center">39 / 40</td>
        <td class="center">mad</td>
        <td class="center">2020/21, 2023/24</td>
    </tr>
    <tr>
        <td>Spiele in Serie gewonnen</td>
        <td class="center">33</td>
        <td class="center">mad</td>
        <td class="center">2023/24</td>
    </tr>
    <tr>
        <td>Short Games geworfen</td>
        <td class="center">17</td>
        <td class="center">mad</td>
        <td class="center">2023/24</td>
    </tr>
    <tr>
        <td>Short Game, Anzahl Darts</td>
        <td class="center">14</td>
        <td class="center">Nico</td>
        <td class="center">01.01.2007</td>
    </tr>
</table>
<hr class="section-divider"/>
<p class="header-center-big-primary">Spieltagswertungen</p>
<table class="standard-table">
    <tr>
        <th>Rekord</th>
        <th>Wert</th>
        <th>Name</th>
        <th>Datum</th>
    </tr>
    <tr>
        <td>Geworfene 180er</td>
        <td class="center">2</td>
        <td class="center">Y, Nico, mad</td>
        <td class="center">2006–2024</td>
    </tr>
    <tr>
        <td>Geworfene 180er, Gesamt</td>
        <td class="center">3</td>
        <td class="center">Team</td>
        <td class="center">02.02.2013</td>
    </tr>
    <tr>
        <td>Geworfene 140er</td>
        <td class="center">8</td>
        <td class="center">Nico</td>
        <td class="center">13.04.2017</td>
    </tr>
    <tr>
        <td>Geworfene 140er, Gesamt</td>
        <td class="center">12</td>
        <td class="center">Team</td>
        <td class="center">2009–2017</td>
    </tr>
    <tr>
        <td>Geworfene TONs</td>
        <td class="center">22</td>
        <td class="center">mad</td>
        <td class="center">21.12.2019</td>
    </tr>
    <tr>
        <td>First 9 Dart Average</td>
        <td class="center">71,9</td>
        <td class="center">mad</td>
        <td class="center">2023/24</td>
    </tr>
    <tr>
        <td>3 Dart Average</td>
        <td class="center">62,8</td>
        <td class="center">mad</td>
        <td class="center">2019</td>
    </tr>
    <tr>
        <td>Average Darts needed</td>
        <td class="center">23,75</td>
        <td class="center">mad</td>
        <td class="center">2019</td>
    </tr>
</table>
<hr class="section-divider"/>
<p class="header-center-big-primary">Matchwertungen</p>
<table class="standard-table">
    <tr>
        <th>Rekord</th>
        <th>Wert</th>
        <th>Name</th>
        <th>Datum</th>
    </tr>
    <tr>
        <td>First 9 Dart Average</td>
        <td class="center">92,7</td>
        <td class="center">Y</td>
        <td class="center">2019</td>
    </tr>
    <tr>
        <td>3 Dart Average</td>
        <td class="center">79,1</td>
        <td class="center">mad</td>
        <td class="center">2019</td>
    </tr>
    <tr>
        <td>Average Darts needed</td>
        <td class="center">19</td>
        <td class="center">mad</td>
        <td class="center">2019</td>
    </tr>
</table>
<p class="text-gray supersmall">
    *) erst ab 2001<br>
    **) erst ab 2003<br>
    ***) ab 1994<br>
    ****) 2010 geändert, Streichung DD, TD, ab 2013 auch Short Game und RB<br>
    *****) 2017 geändert, 5 Spieler max. 40 Jahr / 14 Monat / Punkte Jahr max. 140<br>
    ******) erst ab 2018<br>
    *******) 2019 geändert, 5 Spieler max. 40 Jahr / 12 Monat / Punkte Jahr max. 120<br>
    ********) erst 2020/21 aufgenommen<br><br><br>
</p>
<p class="subline-left-gray">
    Stand: 12.05.2024 – Version 1.0
</p>
