<div class="player-gallery">
    <div class="player-card">
        <img alt="Spieler 1" src="../assets/players/dummy.png">
        <p>Franz-Josef 'Y'</p>
    </div>
    <div class="player-card">
        <img alt="Spieler 2" src="../assets/players/dummy.png">
        <p>Heiner 'TC'</p>
    </div>
    <div class="player-card">
        <img alt="Spieler 3" src="../assets/players/dummy.png">
        <p>Uwe</p>
    </div>
    <div class="player-card">
        <img alt="Spieler 4" src="../assets/players/dummy.png">
        <p>Frank</p>
    </div>
    <a class="player-card solo" href="spieler_mad.html">
        <img alt="Martin 'mad'" src="../assets/players/dummy.png">
        <p>Martin 'mad'</p>
    </a>
</div>
