
<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <p-card class="cursor-pointer rounded-xl hover:scale-[1.04] transition-all duration-300 min-h-[260px] max-h-[300px] max-w-[300px]" *ngFor="let player of players">
    <ng-template pTemplate="header">
      <a [routerLink]="['/pages/profil', player.id]">
      <img [src]="'assets/players/' + player.image" [alt]="player.name" class="w-full h-48 object-cover rounded-t-xl transition duration-300 hover:brightness-90" />
      </a>
    </ng-template>
    <ng-template pTemplate="title">{{ player.name }}</ng-template>
    <ng-template pTemplate="subtitle">
  <span class="nickname">{{ player.nickname ? player.nickname : ' ' }}</span>
<div *ngIf="player.roles" 
     class="text-m mt-2 flex items-center gap-1">
    <i class="pi pi-id-card"></i>
  <span class="mitglied ml-1">{{ player.roles }}</span>
</div>
</ng-template>
<div class="text-l mt-2">
  <p-tag *ngIf="player.isFounder; else memberSinceTpl" severity="primary" value="Gründer"></p-tag>
<ng-template #memberSinceTpl>
  <span class="mitglied">Mitglied seit {{ player.memberSince }}</span>
</ng-template>
</div>
</p-card>
</div>